@import url('https://fonts.googleapis.com/css2?family=Bellota:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sanchez:ital@0;1&display=swap');

/* General */

:root {
    --lightest-green: #f0f7f4;
    --light-green: #b9f6ca;
    --lighter-green: #69f0ae;
    --green: #00e676;
    --darker-green: #00c853;
    --dark-green: #008035;
    --text-green: #002610;
    --body-font: "Nunito Sans", sans-serif;
    --extra-font: "Sanchez", serif;
}

body {
    font-family: var(--body-font);
    color: var(--text-green);
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    font-size: 16px; /* 1 rem */
}

/* Typography classes */

.bellota-light {
    font-family: "Bellota", system-ui;
    font-weight: 300;
    font-style: normal;
  }
  
  .bellota-regular {
    font-family: "Bellota", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  
  .bellota-bold {
    font-family: "Bellota", system-ui;
    font-weight: 700;
    font-style: normal;
  }
  
  .bellota-light-italic {
    font-family: "Bellota", system-ui;
    font-weight: 300;
    font-style: italic;
  }
  
  .bellota-regular-italic {
    font-family: "Bellota", system-ui;
    font-weight: 400;
    font-style: italic;
  }
  
  .bellota-bold-italic {
    font-family: "Bellota", system-ui;
    font-weight: 700;
    font-style: italic;
  }
  

.nunito-sans{
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100,
      "YTLC" 500;
}

.sanchez-regular {
    font-family: "Sanchez", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .sanchez-regular-italic {
    font-family: "Sanchez", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  

/* Custom Styles */


nav{
  padding:0.5rem 5rem;
}

nav .sidenav-trigger{
  margin:0;
}

nav .btn i{
  margin-top: 0.25rem;
  color: var(--light-green);
}

.sidenav .btn i {
  margin-top: 0.4rem !important;
  color: var(--light-green) !important;
}

.btn{
  border-radius: 0;
}

.container{
  padding-top:3rem;
  padding-bottom:3rem;
}

.bg-light{
  background-color: var(--lightest-green);
}

.preloader-wrapper {
  margin: 2rem auto;
}

.brand-logo img{
    max-height:4rem;
    padding-bottom:1rem;
    margin:auto;
    display: block;
}

.sidenav .brand-logo{
  margin-bottom: 2rem;
}

.sidenav .brand-logo img{
  max-height: 5rem;
  margin: 3rem auto 0 auto;
}

.row.flexbox{
  display: flex;
  flex-wrap: wrap;
}
.row.flexbox .col {
    display: flex;
    flex-direction: column;
}
.row.flexbox .card{
  flex: 1;
}

nav ul li .btn{
  margin-bottom:1rem;
}

.card-list{
    display: flex;
    align-items: center;
    padding:0.5rem;
}

.list-icon{
    max-width:2rem;
    margin-right:0.75rem;
}

h1, h3 {
    color: var(--darker-green);
}

h2.card-title {
    font-size: 3rem !important;
    font-weight:bold !important;
    background: var(--dark-green);
  }

.card h3{
    font-size: 2rem;
    font-family: var(--extra-font);
}

.halfway-fab i {
  line-height: 4.5rem !important;
}

.tabs .tab a {
  color:var(--darker-green)
}

.tabs .tab a:hover, .tabs .tab a.active {
  background-color: transparent;
  color: var(--darker-green);
}

.tabs .tab a:focus, .tabs .tab a:focus.active {
background-color: var(--lightest-green);
}

.tabs .indicator{
  background-color: var(--green);
}

.carousel-item{
  padding: 1rem 2rem 0 2rem !important;
    
}

#plantDetailsContainer .card-content{
  padding:2rem 2rem 1.5rem 2rem;
}

.card-content > p:first-of-type{
    font-style: italic;
    margin-bottom: 1rem;
}

.card-content form{
  display:flex;
}

.card-content form label{
  flex-basis:10%;
  padding-top:1rem;
}

.card-content form input[type="date"], .card-content form .datepicker{
  max-width:80px;
  flex-basis:50%;
  margin:1rem;
}

.card-content form button {
  flex-basis: 60px;
  border-radius:0;
  margin-top:0.5rem;
  height:3rem;
}

